.timepicker {
    height: 160px;
    overflow: hidden;
    font-size: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(top, #f6f6f7, #eff0f4);
    position: relative;
}

.timepicker .center {
    background: -webkit-linear-gradient(top, #f3f4f6, #f2f3f5);
    border-top: 1px solid #ff8a01;
    border-bottom: 1px solid #ff8a01;
    height: 28px;
    width: 100%;
    position: absolute;
    top: 66px;
    z-index: 10;
    overflow: hidden;
}

.timepicker .hour {
    line-height: 20px;
    padding: 70px;
}

.timepicker .hourmirror {
    position: absolute;
    top:4px;
    width: 100%;
    z-index: 20;
    height: 20px;
    line-height: 20px;
    font-size: 2.2rem;


}
