.timepicker {
    height: 160px;
    overflow: hidden;
    font-size: 2rem;
    text-align: center;
    background: -webkit-linear-gradient(top, #f6f6f7, #eff0f4);
    position: relative;

}

.timepicker .center {
    background: -webkit-linear-gradient(top, #f3f4f6, #f2f3f5);
    border-top: 1px solid #ff8a01;
    border-bottom: 1px solid #ff8a01;
    height: 28px;
    width: 100%;
    position: absolute;
    top: 66px;
    z-index: 10;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.timepicker .wheel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.timepicker .day, .timepicker .hour, .timepicker .minute {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    line-height: 20px;
    padding: 70px 0;
}

.timepicker .day .item, .timepicker .daymirror .item {
    position: relative;
    left: 16%;
}


.timepicker .minute .item, .timepicker .minutemirror .item {
    position: relative;
    left: -16%;
}

.timepicker .daymirror, .timepicker .hourmirror, .timepicker .minutemirror {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    position: relative;
    top: 4px;
    height: 20px;
    line-height: 20px;
    font-size: 2.2rem;
}

